@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");

* {
	font-family: "Cairo";
}

/* HEADER */
/* NAVBAR */

.nav {
	display: inline-flex;
	align-items: center;
}

.btn {
	padding: 20px;
}

header button {
	border: none;
	background-color: white;
}

header button i {
	color: black;
	font-size: 15px;
}

header button:hover {
	background-color: rgb(241, 241, 241);
}

header hr {
	width: 100%;
	border: 1;
	border-top: 1px solid black;
}

/* MAIN */

.sub-judul {
	text-align: center;
	letter-spacing: 4px;
}

.container-facility {
	margin: auto;
	max-width: 1000px;
	background-color: rgb(117, 145, 158);
	border-radius: 15px;
}

.row {
	display: flex;
	justify-content: space-around;
	margin-right: 35px;
}

.row li {
	text-transform: lowercase;
}

.row ul li {
	font-size: 15px;
}

.row h4 {
	text-align: center;
}

main hr {
	border-top: 1px solid;
	border: solid;
	border-radius: 5px;
	color: rgb(40, 94, 120);
}

/* FOOTER */

footer hr {
	width: 80%;
	border: 1;
	border-top: 1px solid black;
}

#footer {
	padding: 50px 0 30px;
}

.footer-row {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.footer-left-col {
	flex-basis: 150%;
	margin-top: 50px;
	text-align: center;
}

.footer-links {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-right: 10px;
}

.footer-info h4 {
	color: black;
}

.footer-info small {
	font-size: 13px;
	color: #777;
}

.social-media a i {
	color: rgb(10, 10, 10);
	padding: 10px;
	font-size: x-large;
}

footer p {
	text-align: center;
	padding-bottom: 20px;
}
