@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cairo&family=Caveat:wght@600&family=Great+Vibes&family=Satisfy&display=swap");

/* HEADER */
/* NAVBAR */
.nav {
	display: inline-flex;
	align-items: center;
}

.btn {
	padding: 20px;
}

header button {
	border: none;
	background-color: white;
}

header button i {
	color: black;
	font-size: 15px;
}

header button:hover {
	background-color: rgb(241, 241, 241);
}

header hr {
	width: 100%;
	border: 1;
	border-top: 1px solid black;
}

/* MAIN */

.container-paket h2 {
	font-size: 30px;
	letter-spacing: 5px;
	font-family: "Satisfy";
}

.shop {
	padding-bottom: 30px;
}

#order {
	background-color: rgb(82, 3, 252);
	border: none;
	padding: 8px;
	border-radius: 10px;
	padding-right: 20px;
}

#order a {
	color: white;
	text-decoration: none;
}

#order i {
	font-size: 15px;
}

#order:hover {
	background-color: grey;
}

#whatsapp {
	background-color: green;
	border: none;
	padding: 8px;
	border-radius: 10px;
	padding-right: 20px;
}

#whatsapp a {
	color: white;
	text-decoration: none;
}

#whatsapp i {
	font-size: 15px;
}

#whatsapp:hover {
	background-color: grey;
}

#contact {
	text-align: center;
	padding-right: 190px;
	padding-bottom: 10px;
}

/* FORM */
.container-form {
	text-align: center;
}

.input-group {
	display: inherit;
}

.input {
	padding: 6px 60px;
	border: 1px solid;
	border-radius: 4px;
	font: inherit;
	color: black;
	outline: none solid black;
	margin-bottom: 15px;
}

.input-label {
	border-radius: 5px;
	display: inherit;
	padding-bottom: 5px;
}

textarea {
	font: inherit;
}

.submit-batal {
	padding: 7px;
	width: 60px;
	border: none;
	border-radius: 10px;
	cursor: default;
	color: white;
	margin: 0 20px 0 auto;
}

#submit {
	background-color: teal;
}

#submit:hover {
	background-color: gray;
}

#batal {
	background-color: red;
}

#batal:hover {
	background-color: grey;
}

/* FOOTER */
hr {
	width: 80%;
	border: 1;
	border-top: 1px solid black;
}

#footer {
	padding: 50px 0 30px;
}

.footer-row {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.footer-left-col {
	flex-basis: 150%;
	margin-top: 50px;
	text-align: center;
}

.footer-links {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-right: 10px;
}

.footer-info h4 {
	color: black;
}

.footer-info small {
	font-size: 13px;
	color: #777;
}

.social-media a i {
	color: rgb(10, 10, 10);
	padding: 10px;
	font-size: x-large;
}

footer p {
	text-align: center;
	padding-bottom: 20px;
}
